.card {
	display:inline-block;
	width:225px;
	height:315px;
	position:relative;
	/*border:1px solid green;*/
	background-image: url(../assets/cards.jpg);
	border-radius:1.25em;
	vertical-align:top;
	}